/* Styles pour le composant IconWithText */
.icon-container {
    display: flex;
    align-items: center;
    flex-direction: column; 
    align-items: center;
    cursor: pointer;
  }
  
  .icon {
    font-size: 24px; /* Ajustez la taille de l'icône selon vos besoins */
  }
  
  .icon-text {
    display: none;
    margin-top: 5px; /* Ajustez la marge selon vos besoins */
    text-align: center; /* Pour centrer le texte sous l'icône */
    position: relative;
    z-index: -1; /* Placez le texte sous l'icône */
  }
  
  .icon-container:hover .icon-text {
    display: block; /* Affichez le texte au survol */
  }
  